#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  color: #721c24;
}

.read-the-docs {
  color: #888;
}

.alerta {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: bold;
}

.alerta-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alerta-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/* Estilos para Ações e Card */
.acoes-container {
  border: 1px solid #ccc;
  padding: 16px;
  margin-top: 20px;
  border-radius: 8px;
}

.acoes-container button {
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #666;
  cursor: pointer;
}

.acoes-container .btn-excluir {
  background-color: #dc3545;
  color: white;
  border-color: #dc3545;
}

.card {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
}

/* Estilos para o formulário da lista de tarefas */
.form-tarefa {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form-tarefa input {
  flex-grow: 1; /* Faz o input ocupar o espaço disponível */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
